# Last match in file takes precedence.

# Ping for all PRs
* @Morb0
* @JerryImMouse
* @Litogin @tau27 @oldschoolotaku

# Maps
/Resources/Prototypes/Maps/** @Morb0 @DIMMoon1 @kvant8
/Resources/Maps/** @Morb0 @DIMMoon1 @kvant8
/Resources/Prototypes/_WL/Maps/** @0leshe
/Resources/Maps/_WL/** @0leshe

# Sprites
/Resources/Textures/** @Morb0 @DIMMoon1 @MureixloI
